<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <configSections>
       
     </configSections>
  
    <connectionStrings>
      <add name = "connection"
      connectionString="SERVER=localhost; DATABASE=mastercheck; UID=root; PASSWORD=12345"
      providerName="System.Data.MysqlClient"/>
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />-->
              
          
         </connectionStrings>
 <startup> 
    </startup>
</configuration>